$basic-text-style: 16px;

:root {
    --color-bg: #484848;
    --color-title: #343434;
    --color-descr: #4e4e4e;
    --color-title-min: #424242;
    --color-main: #818181;
    --color-content: #DBDBDB;

    --color-input-slide: #343434;

    --color-click-block: #454545;
    --color-click-text: #C4C4C4;


    --color-back-line: var(--color-click-text);
    --color-fill-line: var(--color-click-block);
    --color-svg-descr: #343434;


    --color-click-shadow: rgba(0, 0, 0, 0.2);
    --shadow-color-content: rgba(0, 0, 0, 0.726);
    --blac-line-shadow: rgba(0, 0, 0, 0.25);

    --color-shadow-attention: var(--color-click-shadow);
    --color-attention-bg: #45454538;

    --color-unser_open-bg: #868686;
}

html[data-theme="dark"] {
    --color-bg: #484848;
    --color-title: #dbdbdb;
    --color-descr: #7e7e7e;
    --color-title-min: #a2a2a2;
    --color-main: #818181;
    --color-content: #343434;

    --color-input-slide: #DBDBDB;

    --color-click-block: #454545;
    --color-click-text: #C4C4C4;


    --color-back-line: var(--color-click-block);
    --color-fill-line: var(--color-click-text);
    --color-svg-descr: #5e5e5e;


    --color-click-shadow: rgba(0, 0, 0, 0.2);
    --shadow-color-content: rgba(0, 0, 0, 0.61);
    --blac-line-shadow: rgba(0, 0, 0, 0.25);

    --color-shadow-attention: var(--color-click-shadow);
    --color-attention-bg: #6d6d6d38;


    --color-unser_open-bg: rgb(44, 44, 44);
}


html,
body {
    background-color: var(--color-bg);
    cursor: default;
    user-select: none;
    touch-action: pan-y;

    font-family: 'Lato';
    font-style: normal;

    transition: .2s cubic-bezier(.46, 0, 0, 1.17);
}

html,
body,
p,
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 0 0;

    .content {
        width: 1300px;
        max-width: 1300px;
        min-height: 1000px;
        box-shadow: 0px 24px 36px var(--shadow-color-content);

        background-color: var(--color-content);

        h1,
        h2,
        h3,
        h4 {
            padding: 0px;
            margin: 0px;
        }

        .resume {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 50px;
            padding: 100px 100px 0px 100px;
            height: 100%;
        }

    }
}


.resume {
    .resume__about {
        display: flex;
        flex-direction: column;
        width: 100%;

        .mobile-burger {
            display: none;
        }
    }

    .resume__divideline {
        position: relative;
        width: 0px;

        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            width: 2px;
            background-color: var(--color-main);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            opacity: .2;
        }
    }

    .resume__skills {
        display: flex;
        flex-direction: column;
        width: 340px;
        min-width: 340px;


        .mobile-burger {
            display: none;
        }
    }

}


.resume__box,
.skills__box {

    opacity: 0;
    transition: none;

    padding: 0px 0px 80px;

    .title-box {
        padding: 10px 0px 30px;

        h2 {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: var(--color-title);
        }


        &.title_attention {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
        }

        &.title_attention h2 {
            cursor: pointer;
        }

        &.title_attention h2:hover {
            transition: .2s cubic-bezier(.46, 0, 0, 1.17);
            filter: brightness(160%);
        }

    }
}

.resume__about-name {
    padding: 10px 0px;

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 54px;

        color: var(--color-title);
    }
}

.resume__about-descr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    gap: 10px;

    // width: 660px;
    height: 26px;

    .resume__descr-block {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        text-decoration: none;

        padding: 0px 10px;

        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            width: 2px;
            background-color: var(--color-title-min);
            border-radius: 2px;
        }

        span,
        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: var(--color-title-min);
        }


        span:first-child {
            text-transform: uppercase;
            font-weight: 500;
        }


        svg {
            margin-right: 6px;

            path {
                fill: var(--color-svg-descr);
            }
        }

        svg {
            margin-right: 6px;

            path {
                fill: var(--color-svg-descr);
            }
        }

        &:nth-child(2) {
            svg {
                margin-right: 6px;

                path {
                    stroke: var(--color-svg-descr);
                }
            }
        }

        &:first-child {
            border-left: none;
            padding: 0px 10px 0px 0px;
        }

        &:first-child::before {
            display: none;
        }

        &:hover {
            transition: .2s cubic-bezier(.46, 0, 0, 1.17);
            transform: scale(1.01);
            filter: brightness(105%);
        }

    }

}

.resume__short-skills {
    padding-top: 50px !important;

    p {
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

        color: var(--color-descr);
    }
}


.resume__expirience,
.resume__study {
    position: relative;
    padding: 10px 10px 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;


    &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 10px;
        bottom: 0px;
        width: 2px;
        background-color: var(--color-main);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        opacity: .2;
    }

    .expirience__row,
    .study__row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;


        .row__title {
            display: flex;
            flex-direction: flex-start;
            align-items: center;
            gap: 10px;
            padding: 0px;

            h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: var(--color-title);
            }
        }

        .row__title,
        .row__descr {
            h4 {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: var(--color-title-min);
            }
        }

        .row__date {
            padding: 0px 0px 20px;

            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: var(--color-main);
            }
        }

        .row__descr {
            display: flex;
            flex-direction: row;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: var(--color-descr);
            }
        }

    }
}

.skills__contacts {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;

    .contacts__block {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;


        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            background: var(--color-click-block);
            border-radius: 15px;

            font-weight: 500;
            font-size: 18px;
            padding: 10px 15px 10px 10px;
            line-height: 22px;
            color: var(--color-click-text);
            box-shadow: 0px 2px 6px var(--color-click-shadow);

            transition: .3s cubic-bezier(.46, 0, 0, 1.17);
            transform: scale(1);

            svg {
                path {
                    fill: var(--color-click-text);
                }
            }

        }

        &:first-child {
            a {
                svg {

                    path {
                        fill: none;
                        stroke: var(--color-click-text);
                    }
                }
            }
        }


        &:hover {
            transition: .2s cubic-bezier(.46, 0, 0, 1.17);
            transform: scale(1.02);
            filter: brightness(109%);
        }

        &.telegram-hover:hover a {
            background-color: #239fdb;
            transition: .3s cubic-bezier(.46, 0, 0, 1.17);
            color: #fff;

            svg {
                path {
                    fill: #ffffff;
                }
            }
        }


        &.outlook-hover:hover a {
            background-color: #0c6dce;
            transition: .3s cubic-bezier(.46, 0, 0, 1.17);
            color: #fff;

            svg {
                path {
                    fill: #ffffff;
                }
            }
        }

        &.vk-hover:hover a {
            background-color: #0077ff;
            transition: .3s cubic-bezier(.46, 0, 0, 1.17);
            color: #fff;

            svg {
                path {
                    fill: #ffffff;
                }
            }
        }

    }
}



.skills__it-stacks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .it-stack__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0px;
        gap: 20px;
        width: 100%;

        .row__title {
            h3 {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: var(--color-main);
            }
        }

        .row__line {
            position: relative;
            width: 100%;
            height: 4px;

            span.back-line,
            span.fill-line {
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
            }

            span.back-line {
                right: 0px;
                background-color: var(--color-back-line);
                border-radius: 8px;
                box-shadow: 0px 0px 1px var(--back-line-shadow);
            }

            span.fill-line {
                right: 100%;
                background-color: var(--color-fill-line);
                border-radius: 8px;
                box-shadow: 0px 1px 2px var(--back-line-shadow);
                transition: all .5s cubic-bezier(.46, 0, 0, 1.17);
            }
        }
    }
}


.skills__keys {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;


    .key__block {
        border-radius: 15px;
        padding: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-click-text);
        box-shadow: 0px 2px 6px var(--color-click-shadow);


        background: var(--color-click-block);
        border-radius: 15px;

        cursor: pointer;

        &:hover {
            transition: .3s cubic-bezier(.46, 0, 0, 1.17);
            transform: scale(1.02);
            filter: brightness(109%);
        }

    }
}

.skills__languages,
.skills__awards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    .language {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-main);
    }

    h4 {
        font-size: 18px;
        line-height: 22px;
        color: var(--color-title);
    }

    .award {
        padding: 0px 0px 20px;

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: var(--color-title-min);
        }
    }
}


.attention__hover {
    position: fixed;
    display: none;
    height: auto;
    opacity: 0;

    width: 200px;
    background: var(--color-click-block);
    border-radius: 15px;

    font-weight: 500;
    font-size: 12px;
    color: var(--color-click-text);
    box-shadow: 0px 2px 6px var(--color-click-shadow);
    transition: .3s cubic-bezier(.46, 0, 0, 1.17);

    z-index: 2;

    p {
        text-align: center;
        padding: 20px;
        overflow: hidden;
        word-wrap: break-word;
    }

}


.content__config {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    .dark-mode__input {
        display: flex;
        align-items: center;
        gap: 10px;

        label {
            width: 60px;
            height: 34px;
            position: relative;
            display: block;
            background: var(--color-input-slide);
            border-radius: 26px;
            cursor: pointer;
            transition: 0.3s;

            &:after {
                content: "";
                width: 24px;
                height: 24px;
                position: absolute;
                top: 5px;
                left: 5px;
                background: var(--color-click-text);
                border-radius: 24px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
                transition: 0.3s;
            }

            svg {
                position: absolute;
                width: 18px;
                top: 8px;
                z-index: 2;

                &.sun {
                    opacity: 1;
                    left: 8px;
                    fill: var(--color-click-block);
                    transition: 0.3s;
                    transform: rotate(0deg);
                }

                &.moon {
                    top: 10px;
                    width: 14px;
                    opacity: 0;
                    left: 8px;
                    transition: 0.3s;
                    transform: rotate(180deg);
                }
            }
        }

        input {
            width: 0;
            height: 0;
            visibility: hidden;
            display: none;

            &:checked+label {

                &:after {
                    left: 32px;
                    background: var(--color-click-block);
                }

                svg {
                    &.sun {
                        left: 38px;
                        opacity: 0;
                        transform: rotate(-180deg);
                    }

                    &.moon {
                        opacity: 1;
                        left: 38px;
                        fill: var(--color-click-text);
                        transform: rotate(0deg);
                    }
                }
            }

        }




    }
}



.lang-select__select {

    &.custom__select {
        position: relative;
        width: 42px;
        height: 34px;
        cursor: pointer;

        .lang-select {
            position: absolute;
            width: 42px;
            height: 34px;
            background: var(--color-input-slide);
            border-radius: 15px;
            border: 0.5px solid rgba(202, 219, 226, 0.40);
            box-shadow: 0px 3px 6px rgba(79, 104, 113, 0.20);
            overflow: hidden;
            transition: height 0.2s cubic-bezier(.46, 0, 0, 1.17), border-radius 0.2s cubic-bezier(.46, 0, 0, 1.17), box-shadow 0.2s cubic-bezier(.46, 0, 0, 1.17);



            &.hover {
                height: 70px;
                box-shadow: 0px 7px 10px rgba(79, 104, 113, 0.30);
            }

            ul {
                list-style-type: none;
                position: relative;

                li {
                    opacity: 1;
                    transition: opacity 0.2s cubic-bezier(.46, 0, 0, 1.17);

                    img {

                        width: 25px;
                        height: 23px;

                        display: block;
                        transform: translate(-116%, -50%);
                        margin-bottom: 6px;

                        border-radius: 10px;
                        border: 2px solid var(--color-input-slide);

                        cursor: pointer;
                        transition: all 0.1s cubic-bezier(.46, 0, 0, 1.17);

                        &:hover {
                            transform: translate(-116%, -50%);
                        }
                    }
                }
            }
        }
    }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .attention__hover {
        background: var(--color-attention-bg);
        box-shadow: 0px 2px 10px var(--color-shadow-attention);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        color: var(--color-descr);
    }
}


main {
    .letter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: flex-start;
        padding: 250px 100px 50px 100px;
    }
}


.letter {

    .letter__hello {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: flex-start;
        padding-bottom: 50px;



        h1 {
            font-weight: 700;
            font-size: 140px;
            line-height: 168px;
            color: var(--color-title);
        }

        h3 {
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: var(--color-title);
        }
    }

    .letter__write {
        display: flex;
        flex-direction: column;
        padding: 0px 80px 50px 100px;
        gap: 40px;

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
            color: var(--color-title-min);
            opacity: 0.6;
        }
    }

    .letter__hr {
        position: relative;
        width: 100%;
        padding: 50px 0px 100px 0px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 2px;
            background-color: var(--color-main);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            // opacity: .2;
        }
    }


    .letter__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: flex-start;
        padding: 0px;
        gap: 10px;

        .contacts__block {
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6px;


                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: var(--color-main);

                svg {
                    path {
                        fill: var(--color-main);
                    }
                }

            }

            &:first-child {
                a {
                    svg {

                        path {
                            width: 17px;
                            height: 17px;
                        }
                    }
                }
            }

        }
    }
}